@model IEnumerable<SampleShareV1.Models.AudioSamples>
@{
    ViewBag.Title = "Main Page";
}
<div class="row ">

    <!-- Most Downloaded Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Most Downloaded</h5>
                    </li>

                    @foreach (var item in ViewBag.MostDownloaded)
                    {
                        <li class="list-group-item">

                            <!-- Audio Sample Info -->
                            <p class="card-text"><i class="fas fa-user"></i><a href="@Url.Action("MyProfile","Main",new { UserIDFromURL = item.UserID })"><b> @item.Users.UserName</b></a></p>
                            <h5 style="margin-top: -2.5vh; margin-bottom: -1vh;" class="card-title"><a style="color: #333" href="@Url.Action("SampleDetails","Main", new { SampleID = item.SampleID })">@item.SampleTitel</a></h5>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i> @item.Downloads </h6>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i> @item.CreationDate.ToString("dd-mm-yyyy") </h6>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-list"></i> @item.Categories.CategoryName </h6>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Recent Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Recent</h5>
                    </li>

                    @foreach (var item in ViewBag.Recent)
                    {
                        <li class="list-group-item">

                            <!-- Audio Sample Info -->
                            <p class="card-text"><i class="fas fa-user"></i><a href="@Url.Action("MyProfile","Main",new { UserIDFromURL = item.UserID })"><b> @item.Users.UserName</b></a></p>
                            <h5 style="margin-top: -2.5vh; margin-bottom: -1vh;" class="card-title"><a style="color: #333" href="@Url.Action("SampleDetails","Main", new { SampleID = item.SampleID })">@item.SampleTitel</a></h5>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i> @item.Downloads </h6>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i> @item.CreationDate.ToString("dd-mm-yyyy") </h6>
                            <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-list"></i> @item.Categories.CategoryName </h6>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Random Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Best Of Category</h5>
                    </li>

                   @foreach(var item in ViewBag.BestOfCategory)
                   {
                    <li class="list-group-item">
                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="@Url.Action("MyProfile","Main",new { UserIDFromURL = item.UserID })"><b> @item.Users.UserName</b></a></p>
                        <h5 style="margin-top: -2.5vh; margin-bottom: -1vh;" class="card-title"><a style="color: #333" href="@Url.Action("SampleDetails","Main", new { SampleID = item.SampleID })">@item.SampleTitel</a></h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i> @item.Downloads </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i> @item.CreationDate.ToString("dd-mm-yyyy") </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-list"></i> @item.Categories.CategoryName </h6>

                    </li>
                   }
                </ul>
            </div>
        </div>
    </div>
</div>