@model SampleShareV1.Models.Users

@{
                /**/

                Layout = null;
                ViewBag.Title = "login";
}
@using (Html.BeginForm("login", "Main", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!doctype html>
    <html class="no-js" lang="en" dir="ltr">

    <head>
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Icon & Title -->
        <link rel="icon" href="~/Content/img/sampleshareicon.png" type="image/gif">
        <title>SampleShare - @ViewBag.Title</title>

        <!-- Stylesheet Links -->
        <link rel="stylesheet" href="~/Content/Style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>

    <body class="backgroundimg">

        <!-- Login Card -->
        <div class="login-wrap">
            <div class="login-html">
                <!-- Logo Image -->
                <img src="~/Content/img/samplesharelogo_white2.png" style="height:7.2vh; margin-top: -8vh; margin-bottom: 5vh; display: block; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">

                <!-- Tab Menu-->
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
                <a class="sign-up tab" href="@Url.Action("SignUp","Main")">Sign Up</a><label for="tab-2" class="tab"></label>

                <!-- Login Form -->
                <div class="login-form">
                    <form>
                        <div class="sign-in-htm">

                            <!-- Username -->
                            <div class="group">
                                <label for="user" class="label">Username</label>
                                @*<input id="user" type="text" class="input">*@
                                @Html.EditorFor(a => a.UserName, new { htmlAttributes = new { @class = "input", @placeholder = "Username", tabindex = "1" } })
                                @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })
                            </div>

                            <!-- Pasword -->
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                @*<input id="pass" type="password" class="input" data-type="password">*@
                                @Html.EditorFor(a => a.Pass, new { htmlAttributes = new { @type = "password", @class = "input", @placeholder = "Password", tabindex = "2" } })
                                @Html.ValidationMessageFor(a => a.Pass, "", new { @class = "text-danger" })
                            </div>

                            <!-- Signed In Checkbox -->
                            <div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label>
                            </div>

                            <!-- Login Button -->
                            <div class="group">
                                <input type="submit" class="button" value="Login">
                            </div>

                            <!-- Error Message -->
                            @if (@ViewBag.Message != null)
                            {
                                <div class="group foot-lnk" style="color:#d11a2a">
                                    @ViewBag.Message
                                </div>
                            }
                            <div class="hr"></div>

                            <!-- Back Button-->
                            <div class="foot-lnk">
                                <a href="@Url.Action("index","Main")">BACK TO HOME<br /><i class="fas fa-long-arrow-alt-left"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
}
