@model SampleShareV1.Models.Users

@{
    /**/

    Layout = null;
    ViewBag.Title = "sign_up";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!doctype html>
    <html class="no-js" lang="en" dir="ltr">

    <head>
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Icon & Title -->
        <title>SampleShare - @ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/Style.css">

        <!-- Stylesheet Link -->
        <link rel="icon" href="~/Content/img/sampleshareicon.png" type="image/gif">

    </head>

    <body class="backgroundimg">

        <!-- Registrer Card -->
        <div class="login-wrap">
            <div class="login-html">

                <!-- Logo Image -->
                <img src="~/Content/img/samplesharelogo_white2.png" style="height:7.2vh; margin-top: -8vh; margin-bottom: 5vh; display: block; margin-left: auto; margin-right: auto;" class="img-fluid" alt="">

                <!-- Tab Menu-->
                <a class="sign-in tab" href="@Url.Action("Login", "Main")">Login</a><label for="tab-1"></label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>

                <!-- Registrer Form -->
                <div class="login-form">
                    <form>
                        <div class="sign-up-htm">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!-- Name -->
                            <div class="group">
                                <label for="fullname" class="label">Name</label>
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "input", @placeholder = "Name", tabindex = "1" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>

                            <!-- Username -->
                            <div class="group">
                                <label for="user" class="label">Username</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input", @placeholder = "Username", tabindex = "3" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>

                            <!-- Email -->
                            <div class="group">
                                <label for="E-mail" class="label">Email Address</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", @placeholder = "E-Mail", tabindex = "4" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <!-- Password -->
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @type = "password", @class = "input", @placeholder = "Password", tabindex = "5", @id = "password", @onkeyup = "check();" } })
                                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                            </div>


                            <!-- Confirm Password -->
                            <div class="group">
                                <label for="ConfirmPass" class="label">Confirm Password</label>
                                <input type="password" class="input" name="confirm_password" placeholder="Password" id="confirm_password" tabindex="6" onkeyup="check();" />
                            </div>

                            <br />

                            <!-- Registrer Button -->
                            <div class="group">
                                <input id="btnRegistrer" type="submit" class="button" value="Sign Up" tabindex="7">
                            </div>

                            <!-- Error Message -->
                            @if (@ViewBag.Message != null)
                            {
                                <div class="group foot-lnk" style="color:#d11a2a;">
                                    @ViewBag.Message
                                </div>
                            }

                            <!-- Back Button-->
                            <div class="hr"></div>
                            <div class="foot-lnk" style="margin-top: -1.5vh;">
                                <a tabindex="8" href="@Url.Action("Login","Main")">Already Member?<br /></a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
}

<!-- Confirm Password Script-->
<script>
    var check = function () {
        if (document.getElementById('password').value == document.getElementById('confirm_password').value) {

            // Confirm Password Input Box Green 
            document.getElementById('confirm_password').style.border = '1px solid green';

            // Registrer Button Background Color Dodger Blue 
            document.getElementById('btnRegistrer').style.backgroundColor = '#007bff';

            // Registrer Button Text Color White
            document.getElementById('btnRegistrer').style.Color = '#fff';

            // Enable Registrer Button
            $('#btnRegistrer').attr("disabled", false);
        } else {

            // Confirm Password Input Box Red 
            document.getElementById('confirm_password').style.border = '1px solid red';

            // Registrer Button Background Color Gray
            document.getElementById('btnRegistrer').style.backgroundColor = '#ddd';

            // Registrer Button Text Color Dark Gray
            document.getElementById('btnRegistrer').style.Color = '#6c757d';

            // Disabled Registrer Button
            $("#btnRegistrer").attr("disabled", true);

        }
    }
</script>